body {
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 95vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.logo {
    margin: auto;
    padding: 20px;
    background-color: black;
}

.heading {
    text-align: center;
    
    background-image: url('../images/milky-way.jpg');
}

h1 {
    font-size: xx-large;
    color: white;
    font-family: cursive;
    text-decoration: underline;
}

.content-wrapper {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.navigation {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #CCCCCC;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0px;
}

li {
    font-size: x-large;
    border-right: 1px solid;
    text-align: center;
}

.master {
    margin: 20px;
    text-align: center;
}



footer h1 {
    background-color: #CCCCCC;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px;
}
