body {
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    overflow-y:scroll;
}

.container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-gap:5px;
    height: 95vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.logo {
    margin: auto;
    padding: 20px;
    background-color: black;
    border-radius:10px;
}

.heading {
    text-align: center;
    background-image: url('../images/milky-way.jpg');
    margin:10px;
    border-radius:10px;
}

h1 {
    font-size: xx-large;
    color: white;
    font-family: cursive;
    text-decoration: underline;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.navigation {
    background-color: #CCCCCC;
   
}

ul {
    display: grid;
    grid-template-rows: repeat(6, 80px );
    list-style-type: none;
    padding: 0px;
    height: 100%;
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}

li {
    padding: 50px;
   
    font-size: x-large;
   
    text-align: center;
    border-bottom:1px solid;
    
}

.master {
    margin: 20px;
    text-align: center;
}



footer h1 {    
    background-color: #CCCCCC;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px;
}
